.text {
  color: black;
  font-size: 20px;
}


.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.s {
  font-size: 17px;
}

.m {
  font-size: 20px;
}

.l {
  font-size: 40px;
}

.main {
  color: var(--main-color);
}

.secondary {
  color: gray;
}

.background {
  color: white;
}

.accent {
  color: #3466E3;
}