@import "reset";
@import "constants";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss/base'; 
@import 'tailwindcss/components'; 
@import 'tailwindcss/utilities';

* {
  font-family: 'Roboto', sans-serif;
  color: 'red' !important;
}

.container {
  padding: 0 100px;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none; 
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style:none;
}